.girda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    text-align: center;
    
    
}

.ektagrid{
    border: 2px solid goldenrod;
}

.para{
    text-align: center;
    padding: 25px;
    background-color: bisque;
}